<footer class="bg-dark text-light py-4 mt-auto" @fadeIn>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5 class="mb-3">Easy Programming</h5>
        <p class="mb-0">Learn programming the easy way. Join our community and start your coding journey today.</p>
      </div>
      <div class="col-md-2 mb-3">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-light text-decoration-none mb-2 d-inline-block">Home</a></li>
          <li><a routerLink="/courses" class="text-light text-decoration-none mb-2 d-inline-block">Courses</a></li>
          <li><a routerLink="/tutorials" class="text-light text-decoration-none mb-2 d-inline-block">Tutorials</a></li>
          <li><a routerLink="/blog" class="text-light text-decoration-none mb-2 d-inline-block">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h5 class="mb-3">Resources</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none mb-2 d-inline-block">Documentation</a></li>
          <li><a href="#" class="text-light text-decoration-none mb-2 d-inline-block">Getting Started</a></li>
          <li><a href="#" class="text-light text-decoration-none mb-2 d-inline-block">Community</a></li>
          <li><a href="#" class="text-light text-decoration-none mb-2 d-inline-block">Support</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h5 class="mb-3">Connect With Us</h5>
        <div class="social-links">
          <a href="#" class="text-light me-3" title="GitHub">
            <i class="bi bi-github fs-4"></i>
          </a>
          <a href="#" class="text-light me-3" title="Twitter">
            <i class="bi bi-twitter-x fs-4"></i>
          </a>
          <a href="#" class="text-light me-3" title="LinkedIn">
            <i class="bi bi-linkedin fs-4"></i>
          </a>
          <a href="#" class="text-light me-3" title="YouTube">
            <i class="bi bi-youtube fs-4"></i>
          </a>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <small>&copy; {{currentYear}} Easy Programming. All rights reserved.</small>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <a href="#" class="text-light text-decoration-none mx-2">Privacy Policy</a>
        <a href="#" class="text-light text-decoration-none mx-2">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
